# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary files
custom_llm/stop_signal.txt
backend/temp_uploads/*

# Google Colab checkpoints & download caches
custom_llm/checkpoint.pt
custom_llm/checkpoint_cloud.pt
custom_llm/dataset_cache/
*.pt
